.container{
display:flex;
justify-content: space-between;
padding:5px;
}

.centerBlock{
  width:60%;
  margin:0 auto;

}

.leftBlock{
width:18%;
}

.rightBlock{
  width:18%;
  }


h1 {
  text-align: center;
}
.post {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.posts {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

input{
  width: calc(60% - 20px);
  padding: 10px;
  margin: 10px auto;
  border-radius:20px;
}

.add{
  width: 20%;
  height:40px;
  padding: 10px;
  background: #1DA1F2;
  color: white;
  margin: 0 30%;
  border-radius:20px;
}

.delete {
  padding: 10px;
  background:#FF4500;
  color: white;
}

h3 {
  color:#1DA1F2
}

img{
  width:100px;
  height: 100px;
  border-radius: 30%;
}

.myposts{
  width:40%;
  height:40px;
  color: #1DA1F2;
  padding: 5px;
  margin: 20px auto;
}

.allposts{
  width:40%;
  height:40px;
  background-color: #1DA1F2;
  color: white;
  padding: 5px;
  margin: 20px auto;
}

.containerMyPosts {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.photo {
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}