.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.centerBlock {
  width: 60%;
  margin: 0 auto;
  min-width: 350px;
}

.leftBlock {
  width: 15%;
  min-width: 200px;
  margin: 0 2%;
}

.rightBlock {
  width: 15%;
  min-width: 200px;
  margin: 0 2%;
}

h1 {
  text-align: center;
}
.post {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.posts {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.input-post {
  width: calc(60% - 20px);
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
}

.add {
  width: 20%;
  height: 40px;
  padding: 10px;
  background: #1da1f2;
  color: white;
  margin: 0 30%;
  border-radius: 20px;
}

.delete {
  padding: 10px;
  background: #ff4500;
  color: white;
}

h3 {
  color: #1da1f2;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

.myposts {
  width: 30%;
  height: 40px;
  color: #1da1f2;
  padding: 5px;
  margin: 20px auto;
  border-radius: 20px;
}

.allposts {
  width: 30%;
  height: 40px;
  background-color: #1da1f2;
  color: white;
  padding: 5px;
  margin: 20px auto;
  border-radius: 20px;
}

.containerMyPosts {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.photo {
  padding: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  text-align: center;
}

.input-user {
  min-width: 150px;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}
