h1 {
  text-align: center;
}
.post {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.posts {
  width: 60%;
  margin: 0 auto;
}

input{
  width: calc(80% - 22px);
  padding: 10px;
}

.add{
  width: calc(20% - 2px);
  padding: 10px;
  background: #1DA1F2;
  color: white;
}

.delete {
  padding: 10px;
  background: #1DA1F2;
  color: white;
}

h3 {
  color:#1DA1F2
}

img{
  width:200px;
  height: 200px;
}

.myposts{
  width:20%;
  height:40px;
  color: #1DA1F2;
  padding: 5px;
  margin: 20px auto;
}

.containerMyPosts {
  width: 60%;
  margin: 0 auto;
}
